* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: #070707;
}

body {
  height: 100vh;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: minmax(max-content, 200px) 1fr;
  grid-template-rows: 80px 1fr 150px;
  grid-template-areas:
    'sidebar head'
    'sidebar main'
    'sidebar footer';
}

.header {
  grid-area: head;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c4efff;
}

.header-input {
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
}

.sidebar {
  height: 100vh;
}

.desktop-sidebar {
  display: block;
  height: 100%;
  grid-area: sidebar;
  background-color: bisque;
  padding: 100px 10px 0 10px;
}

.menu-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.mobile-sidebar {
  display: none;
}
.btn-sidebar {
  background-color: bisque;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #e1b580;
}

main {
  grid-area: main;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 50px;
}
.table-container {
  max-width: 800px;
  width: 100%;
  margin: 10px;
}
.thead {
  text-align: center;
  border: 1px solid #000;
  border-right: none;
  border-bottom: none;
  grid-area: thead;
  display: grid;
  grid-template-columns:
    minmax(100px, 25%) minmax(100px, 20%)
    minmax(100px, 25%) minmax(120px, 30%);
}

.thead .thead-column:nth-child(odd) {
  background-color: #cac7c7;
}

.thead .thead-column:nth-child(even) {
  background-color: #f5f5f5;
}

.thead-column {
  padding: 10px;
  border-right: 1px solid #070707;

  justify-content: center;
}

.tbody {
  grid-area: tbody;
  border: 1px solid #070707;
  border-top: none;
  border-right: none;
  background-color: #fff;
}

.trow {
  display: grid;
  border-top: 1px solid #000;
  grid-template-columns:
    minmax(100px, 25%) minmax(100px, 20%)
    minmax(100px, 25%) minmax(120px, 30%);
}

.trow-column {
  border-right: 1px solid #000;
  position: relative;
  padding: 10px;
}

.trow-input {
  width: 100%;
  padding: 5px;
  outline: none;
}

.text-a {
  width: 100%;
  padding: 5px;
  outline: none;
  min-height: 100px;
  resize: none;
}

.container-btn_delete {
  position: absolute;
  top: 50px;
  right: -50px;
}

.btn {
  border-radius: 5px;
  border: 1px solid #fff;
  color: #000;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

.delete {
  background-color: #f4cece;
}

.delete:hover {
  background-color: #f38e8e;
}

.btn-container {
  position: relative;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.submit {
  background-color: #a2e1f7;
}

.submit:hover {
  background-color: #5cb8d9;
}

.add {
  background-color: rgb(209, 247, 211);
}

.add:hover {
  background-color: rgb(101, 214, 106);
}

.footer {
  grid-area: footer;
  background-color: rgb(197, 194, 190);
  display: flex;
  justify-content: center;
}

.popup {
  position: absolute;
  top: 50px;
  right: -50px;
  text-align: center;
  background-color: #f38e8e;
  color: #fff;
  box-shadow: 4px 2px 6px 0px #be9e9e;
  padding: 2px;
  font-size: 12px;
  border-radius: 5px;
  line-height: 10px;
}

.required {
  border: 2px solid #f65e5e;
}

.modal {
  z-index: -1;
  padding: 5px;
  position: absolute;
  top: 20px;
  left: 300px;
  background-color: rgb(249, 97, 97);
  color: #fff;
  max-width: 300px;
  text-align: center;
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    top: 20px;
  }

  50% {
    top: 0px;
  }

  to {
    top: 20px;
  }
}

.lds-facebook {
  display: none;
  position: absolute;
  left: 350px;
  top: -20px;
  width: 80px;
  height: 80px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #5cb8d9;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

@media (max-width: 650px) {
  body {
    position: relative;
    height: 100vh;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 150px;
    grid-template-areas:
      'head'
      'main'
      'footer';
  }

  .desktop-sidebar {
    display: none;
  }
  .mobile-sidebar {
    position: absolute;
    display: block;
    left: 5px;
    top: 85px;
    z-index: 1;
  }
  .btn-sidebar {
    display: block;
  }
  .btn-menu {
    background-color: #ffc57f;
    border: 1px solid #e1b580;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
    cursor: pointer;
  }
  .list {
    display: flex;
  }
  .menu-sidebar_mobile {
    display: none;
    background-color: bisque;
    flex-direction: row;
    padding: 0;
    max-height: 40px;
    margin: 0;
    border-radius: 5px;
    list-style-type: none;
    animation-duration: 2s;
    animation-name: slidein;
  }
}
